*{
    margin:0;
}

body{
    font-family: sans-serif;
    padding-top:2px;
    padding-left:8px;
    padding-right:8px; 
}
.forTitle{
    font-size:11px;
    display: inline;
    float: left;
}

.forRight{
    display: inline;
    float:right;
}

.insideLeft{
    display: inline;
    float: left;
}
.insideRight{
    display: inline;
}

.insideRight input[type="button"]{
    height: 50px;
    margin-left: 5px;
    background-color: rgb(236, 31, 31);
    color: azure;
    border:none;

}

.upper{
    text-align: right;
}

.links{
   color: black;
   margin-right: 4px;
   font-size: smaller;
   text-decoration: none;
}

.lower a{
    font-weight: 700;
}

.mainContainer{
    clear: both;
    padding-top: 60px;
    color: #fff;
}

.coverStory{
    background-color: black;
    /* height: 20px; */
    width: 48%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.coverStory p,h2{
    margin-bottom: 10px;
}

hr{
    background-color: #fff;
    width: 10%;
    margin-bottom: 8px;

.about{
    font-size: smaller;
    padding-bottom: 5px;
}

#img1{
    object-fit: cover;
    
}